{{#each this.model.addresses as |address|}}
  <div class="address">
    <span>address.id: {{address.id}}</span>
    <br>
    <span>address.user.id: {{address.user.id}}</span>
  </div>
  <br>
{{/each}}

